body {
    margin: 20px 0 0 0;
    padding: 0;
    background-color: rgb(37,31,28);
    font-family: Arial;
    position: relative;
    text-align: center;
    color: white;
}
#links {
    display: flex;
    justify-content: space-between;
}
.link-item {
    display: flex;
    align-items: center;
    color: white;
}
.link {
    margin-left: 20px;
}
#content {
    margin: 20px;
    color: white;
}
#timeline {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.post-yt {
    margin: 16px;
}
.iframe-yt {
    border: none;
}
